:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --cloud: #f4f4fd;
}

/* Base */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}

.logo-span {
  color: var(--navy-blue);
}

.nav-list {
  display: flex;
  gap: 40px;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-decoration: none;
  padding: 24px 0;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-decoration: none;
  padding: 24px 0;
}

/* Hero Section */
.hero-section {
  padding: 188px 0;
  background-color: var(--navy-blue);
  text-align: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Features Section */
.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */
.footer {
  background-color: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-span-footer {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
